<div class="home">
  <div class="entry-header">
    <h2>Hello World!</h2>
    <ul class="container">
      <li>0 <span>Days</span></li>
      <li>0 <span>Hours</span></li>
      <li>0 <span>Minutes</span></li>
      <li>0 <span>Seconds</span></li>
    </ul>
    <div class="buttons container">
      <button class="button-one">Buy Tickets</button>
      <button class="button-two">See Lineup</button>
    </div>
  </div>
</div>
<div class="todo">
  <div class="content container">
<app-todo></app-todo>
</div>
<app-slider></app-slider>
<app-card></app-card>
<app-footer></app-footer>
</div>
