
<div class="footer">
    <h1>SUNFEST</h1>
    <p class="email">SAYHELLO@SUNFEST.COM</p>
    <h6>Copyright ©2023 All rights reserved | This template is made with</h6>
    <ul>
        <li><fa-icon [icon]="pinterestIcon"></fa-icon></li>
        <li><fa-icon [icon]="facebookIcon"></fa-icon></li>
        <li><fa-icon [icon]="twitterIcon"></fa-icon></li>
        <li><fa-icon [icon]="dribbleIcon"></fa-icon></li>
        <li><fa-icon [icon]="behanceIcon"></fa-icon></li>
        <li><fa-icon [icon]="linkedinIcon"></fa-icon></li>
    </ul>
</div>
