.card-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 900px;
.date{
    padding: 10px 25px;
    background: -webkit-linear-gradient(#00d0ff, #25ffbf);
    font-size: 20px;
    font-weight: 500;
    color: white;
    width: 122px;
    height: 50px;
   display: flex;
   top: 160px;
   left: 0px;
   z-index: 99;
   position: absolute;
  p{
    text-align: center;
    display: flex;
  }
}

h1{
    font-family:'Courier New', Courier, monospace;
    margin-top: 60px;
    font-weight: 700;
   letter-spacing: 6px;
   border-bottom: 1px solid black;
}
.cards{
    display: flex;
    justify-content: space-between;
    height: 600px;
    align-items: center;
.card-group{
  width: 540px;
   height: 321px;
.card-body{
    transition: 1.2s;
    box-shadow: 50px 40px 115px rgba(0, 0, 0, 0.1);
    .card-text{
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 19px;
    }
}
}

}
}